@font-face {
    font-family: irsansb;
    src: url(./fonts/irsansb.ttf);
}
@font-face {
    font-family: yekan;
    src: url(./fonts/yekan.ttf);
}
@font-face {
    font-family: iranian-sans;
    src: url(./fonts/iranian-sans.ttf);
}