@font-face {
    font-family: titr;
    src: url(./fonts/Titr-Bold.ttf);
}
@font-face {
    font-family: vazir;
    src: url(./fonts/Vazir.ttf);
}
@font-face {
    font-family: Sahel-Black;
    src: url(./fonts/Sahel-Black-FD.ttf);
}