@font-face {
  font-family:"Vazirmatn-Light";
  src: url("../fonts/Vazirmatn-Light.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family:"Vazirmatn-Bold";
  src: url("../fonts/Vazirmatn-Bold.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "Vazirmatn-Light";
}

